JWT_SECRET=
REFRESH_SECRET=
DATABASE_URL=postgresql://user:password@localhost:5432/postgres?schema=public
PUBLIC_URL=http://localhost:3005
CORS_ORIGIN=http://localhost:3000
REDIS_HOST=localhost
REDIS_PORT=6379
PORT=3005
